{% extends 'basestyle.html.twig' %}
{% block stylesheets %}
{% endblock %}
{% block body %}
<h2>Student Updation Form</h2>
   <div id = "simpleform">
      {{ form_start(form) }}
      {{ form_widget(form) }}
      {{ form_end(form) }}
   </div>
{% endblock %}
